<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Android 13+용: 오디오 파일 읽기 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        android:required="false" />

    <!-- Android 12 이하 지원용 (호환성 유지) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    
    <!-- 외부 저장소 쓰기 권한 (모델 파일 저장용) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- BLE 관련 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaitingScreen"
        android:largeHeap="true"
        android:hardwareAccelerated="true">

        <activity android:name="com.example.youngwoong.MainMenuActivity" />

        <activity android:name="com.example.youngwoong.AuthenticationActivity" />

        <activity android:name=".GuidanceActivity" />

        <activity android:name=".GuidanceConfirmActivity" />

        <activity android:name=".VoiceGuideActivity" />

        <activity android:name=".TestRobotSystemActivity" />

        <activity
            android:name="com.example.youngwoong.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WaitingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
